* {
    box-sizing: border-box;
}

body {
    background-color: rgb(237, 240, 241);
    font-family: Arial, sans-serif;

}

h1 {
    display: block;
    text-align: center;
    background-color: rgb(173, 180, 180);
    margin: 0;
    padding: 15px;
}

h2 {
    text-align: center;
    margin: 0;
}


ul {
    text-align: center;
    background-color: rgb(203, 206, 206);
    margin: 0;
    padding: 20px;
}

li {
    display: block;


}

footer {
    text-align: center;
}

.main-block {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    border: 5px solid #615f5f;
    background-color: rgb(154, 152, 156);
    border-width: 20px;
}

.child-block-1,
.child-block-2 {
    border: 1px solid #f3e73d;
    display: inline-block;
    vertical-align: top;
    width: 48%;
    background-color: rgb(203, 206, 206);
}

#images-block {
    background-color: rgb(203, 206, 206);
    border: 1px solid #f3e73d;
    margin-top: 40px;
    padding: 20px;
}